@font-face {
  font-family: "Inter";
  src: url("assets/fonts/Inter-VariableFont_slnt_wght.woff2");
}

/* ------------------- CSS Reset ------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

*:focus-visible {
  outline: 0.125rem dotted var(--clr-primary-400);
  outline-offset: 0.125rem;
}

img,
svg,
picture {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button {
  font: inherit;
}

/* ------------------- CSS Variables ------------------- */
:root {
  --ff-inter: "Inter", sans-serif;
}
/* ------------------- End of CSS Variables ------------------- */

body {
  font-family: var(--ff-inter);
  background-color: grey;
}
